.button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background-color: var(--primary);
    border: none;
    color: var(--white);
    font-weight: 500;
    font-size: .8rem;
    text-transform: uppercase;
    padding: .7rem 1.2rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.buttons .button:last-child {
    background-color: var(--danger);
}

.button:hover {
    opacity: .9;
}

