.main {
    padding: 7rem 3rem 3rem 3rem;
}

.main > .container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
}

.main .content {
    flex: 1;
    margin: 0 22rem 0 20rem;
    width: 100%;
}

@media screen and (max-width: 1124px) {
    .main .content {
        margin-right: 0;
    }
}

@media screen and (max-width: 800px) {
    .main .content {
        margin-left: 0;
    }
}

@media screen and (max-width: 462px) {
    .main {
        padding-top: 9rem;
    }
}