.rightbar {
    flex: .6;
    background-color: var(--card-bg);
    position: absolute ;
    right: 0;
    width: 17vw;
    height: fit-content;
    box-shadow: 2px 4px 8px var(--border);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.rightbar .header {
    padding: 2rem 2rem 0 2rem;
}